.dashboard-overview {
    margin: 40px;
 }
 .stats { 
    display: flex; 
    justify-content: space-around; 
    background: #fff;
    padding: 20px;
    gap: 50px;
    border-radius: 5px;
}
.stat { 
    text-align: center; 
    background: #fff;
    height: 100px;
    align-content: center;
    justify-content: center;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}