.navbar{
    display: flex;
    justify-content: space-between;
    padding: 0px 3%;
    align-items: center;
    height: 72px;
}
.navbar .logo{
    width:150px;
    cursor: pointer;
}
.navbar .profile{
    width: 60px;
    border: solid 2px black;
    border-radius: 50%;
    cursor: pointer;
}
    
.navbar .register-btn{
    height: 40px;
    background-color: black;
    border-radius: 5px;
    cursor: pointer;
}
