
h1{
    margin: 30rem;
    margin-top: 20px;
}
.settings-container {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

.settings-section {
    margin-bottom: 30px;
    margin: 40px;
}

.settings-section h2 {
    margin-bottom: 10px;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 5px;
    font-weight: bold;
}

input[type="text"],
input[type="email"],
input[type="tel"],
input[type="password"] {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    padding: 10px 15px;
    background-color: #141414;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 300px;
}

button:hover {
    background-color: gray;
}
